<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <div class="footer-logo">Aromell</div>
                <p class="footer-description">Aromell sjell luksin e parfumeve të famshme botërore me cilësi premium, aroma që zgjasin, dhe përvojë e përsosur.<br><br>Na ndiqni per cdo risi <i class="fa-solid fa-arrow-down"></i></p>
                
                <div class="social-icons">
                    <a href="https://www.instagram.com/aromexa.perfumes?igsh=bG41d2QyY2xia2tr&utm_source=qr" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/share/1Aa2nkAW6b/?mibextid=wwXIfr" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                     
                    </a>
                    <a href="#">
                     
                    </a>
                </div>
            </div>

        <div class="footer-bottom">
            <p>&copy; 2023 Aromell - Luxury Inspired. Të gjitha të drejtat e rezervuara.</p>
        </div>
    </div>
</footer>